body {
    background-color: #062d44;
}

/* Title of Game */
h1 {
    padding: 10px 10px 10px 10px;
    margin:auto;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    font-size: 40px;
    background-color: teal;
}

/* Game Rules */

#gameRules {
    margin: auto;
    padding: 5px 5px;
    width: 50%;
}

.info {
    margin: auto;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: lightyellow;
}

/* gems */
.crystalImage {
    margin:auto;
    position: relative;
    left: 70px;
    padding: 5px 10px 5px 10px;
    height: 100px;
    width: 100px;
}

#crystalBox {
    margin: auto;
    padding: 0px 10px;
    width: 50%;
    background-color: #11496b;
}




/* Score Box */
#scoreText {
    margin: auto;
    padding: 10px;
    width: 50%;
    color: white;
    background-color: teal;
    font-size: 18px;
    font-family: 'Staatliches', cursive;
}

#playerCurrentScore {
    margin: auto;
    padding: 10px;
    width: 50%;
    color: white;
    background-color: #11496b;
    font-size: 18px;
    font-family: 'Staatliches', cursive;
}

#randomNumber {
    margin: auto;
    padding: 10px 10px 10px 10px;
    width: 50%;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 46px;
    background-color: lavender;
}

/* Media Queries */

/* Large Screen */
@media only screen  and (min-width : 1824px) {
    #crystalBox {
        margin: auto;
        padding: 0px 10px;
        width: 50%;
        background-color: #11496b;
    }
    .crystalImage {
        margin:auto;
        position: relative;
        left: 70px;
        padding: 5px 10px 5px 10px;
        height: 100px;
        width: 100px;
    }
}

/* Medium for desktops and laptops Screen */

@media only screen  and (min-width : 1224px) {
    #crystalBox {
        margin: auto;
        padding: 0px 10px;
        width: 50%;
        background-color: #11496b;
    }
    .crystalImage {
        margin:auto;
        position: relative;
        left: 90px;
        padding: 5px 10px 5px 10px;
        height: 100px;
        width: 100px;
    }
}
        

/* Not mobile compatible at this time */